<link rel="stylesheet" href="../css/mpa.css" />
<script type="text/javascript" src="../scripts/jquery-3.4.1.min.js"></script>

<div>
    <div class="pop_head">
        <h3>승인내역(매출전표)</h3>
    </div>
    <div class="pop_cont">
        <div class="card_cont">
            <div class="receipt_head">
                <strong class="franNm">{{franNm}}</strong>
                <div class="ext_info">
                    <span class="date">
                        {{apprDt}} {{apprTm}}
                    </span>
                    <p class="card_info">
                        <span>{{#if fmlYn}}가족{{else}}본인{{/if}}</span>
                        <span><img src="{{getBrImg brandCd}}" /></span>
                        <span>{{cardNo}}</span>
                    </p>
                </div>
            </div>
            <div class="receipt_body">
                <div class="box_dl">
                    <dl>
                        <dt>이용금액</dt>
                        <dd><span class="pay_amt">{{comma payAmt}}원</span></dd>
                    </dl>
                </div>
                <div class="box_dl">
                    <dl>
                        <dt>승인번호</dt>
                        <dd><span>{{apprNo}}</span></dd>
                    </dl>
                    <dl>
                        <dt>매입상태</dt>
                        <dd><span>{{status}}</span></dd>
                    </dl>
                    <dl>
                        <dt>거래일자</dt>
                        <dd><span>{{apprDt}} {{apprTm}}</span></dd>
                    </dl>
                    <dl>
                        <dt>이용구분</dt>
                        <dd><span>{{payTy}}</span></dd>
                    </dl>
                </div>
                <div class="box_dl">
                    <dl>
                        <dt>카드종류</dt>
                        <dd><span>{{cardType}}</span></dd>
                    </dl>
                    <dl>
                        <dt>거래유형</dt>
                        <dd><span>{{trsTpNm}}</span></dd>
                    </dl>
                    <dl>
                        <dt>공급가액</dt>
                        <dd><span>{{comma aprAmt}}</span></dd>
                    </dl>
                    <dl>
                        <dt>부가세</dt>
                        <dd><span>{{comma addAmt}}</span></dd>
                    </dl>
                    <dl>
                        <dt>봉사료</dt>
                        <dd><span>{{comma serviceAmt}}</span></dd>
                    </dl>
                </div>
                <div class="btn_wrap">
                    <button><span>닫기</span></button>
                </div>
            </div>
        </div>
    </div>
</div>