<link rel="stylesheet" href="../css/mpa.css" />
<ul class="usage"> 
{{#each data}}
    <li>
        <div class="row_item">
            <dl>
                <dt>{{franNm}}</dt>
                <dd>
                    <span class="date">{{apprDt}} {{apprTm}}</span>
                    <span>{{#if fmlYn}}가족{{else}}본인{{/if}}</span>
                    <span><img src="{{getBrImg brandCd}}" /></span>
                    <span>{{cardNo}}</span>
                    <span>{{payTy}}</span>
                </dd>
            </dl>
            <div class="row_amt">
                <span>{{comma payAmt}}원</span>
            </div>
        </div>
    </li>
{{/each}}
</ul>